#searchbar{
    position: absolute;
    top: 20px;
    left: 400px;
    width: 700px;
    box-sizing:border-box;
    border: 2px solid red;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    background-color: white;
    background-image: url('img/search-icon.png');
    background-position: 420px 8px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 12px 160px 10px;
}

#login{
    position: absolute;
    top: -42px;
    right: 10%;
    width:50px;
    height:60px
    border: 40px;
    padding: 60px;
    border-radius: 5px;
    outline: none;

}
#register{
    position: absolute;
    top: -42px;
    right: 5%;
    width: 30%;
    border: 40px;
    padding: 60px;
    height: 40px;
    border-radius: 5px;
    outline: none;
}
.img{
    padding-left: 50px;
    padding-top: 25px;
}
.mess{
  padding-left: 2%;
}
.imgSent{
    padding-left: 2%;
    padding-top: 2%;
    position: relative;
}
.ins_dist1{
    margin-top: 50px;
    margin-left: 20px;
}
.ins_dist2{
    top: 50px;
    margin-left: 20px;
}
.dist{
    padding-top:5%;
    margin-left: 5%;
}
.ins_font1{
    color: red;
    margin-right: 20px;
    font-size: 18px;
}
.ins_font2{
    color: red;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 18px;
}
.posta{
    margin-left: 48%;
}
.search {
  width: 100%;
  position: relative;
}
.searchTerm {
    position: absolute;
    top: -42px;
    left: 32%;
    width: 30%;
    border: 3px solid red;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
.ricerca_layout{
    float: left;
    padding-left: 300px;
}
